
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}
p{
  color: #485866;
}

.container {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
